Repository FI18-Trainees/FISocketChat, changes with the owners that CODEOWNERS names for each.
All owners: @zaanposni, @monkmitrad, @SFFan123

CODEOWNERS:

* @zaanposni @monkmitrad @SFFan123
*.py @zaanposni

*.css @monkmitrad
*.html @monkmitrad
*.js @monkmitrad @SFFan123

readded simonGit
  src/app/public/img/simon.jpg
Owners: @zaanposni, @monkmitrad, @SFFan123

1st wave ... images only
  src/app/public/img/DansGame.png
  src/app/public/img/HotPocket.png
Owners: @zaanposni, @monkmitrad, @SFFan123

Create confisedcat112.png
  src/app/public/img/confisedcat112.png
Owners: @zaanposni, @monkmitrad, @SFFan123

Create pikaWut.png
  src/app/public/img/pikaWut.png
Owners: @zaanposni, @monkmitrad, @SFFan123

typo
  src/app/public/img/confusedcat112.png
Owners: @zaanposni, @monkmitrad, @SFFan123

Create aehmok.png
  src/app/public/img/aehmok.png
Owners: @zaanposni, @monkmitrad, @SFFan123

Create whutblink.gif
  src/app/public/img/whutblink.gif
Owners: @zaanposni, @monkmitrad, @SFFan123

added emotes
  src/app/emotes.json
  src/app/public/img/confusedcat.png
Owners: @zaanposni, @monkmitrad, @SFFan123

first basic classes
  src/app/__init__.py
  src/app/emote_handling.py
  src/app/obj/__init__.py
  src/app/obj/command.py
  src/app/obj/message.py
  src/app/obj/system_message.py
  src/app/obj/user.py
  src/app/obj/user_manager.py
  src/app/sockets.py
Owners: @zaanposni

added format timestamp
  src/app/obj/message.py
Owners: @zaanposni

using oop in chat_message
  src/app/sockets.py
Owners: @zaanposni

added system obj to emit
  src/app/obj/system.py
Owners: @zaanposni

minor changes
  src/app/__init__.py
  src/app/obj/__init__.py
  src/app/obj/user.py
Owners: @zaanposni

implemented to_json method
  src/app/obj/message.py
  src/app/obj/system_message.py
  src/app/obj/user.py
Owners: @zaanposni

implemented system class to handle sending data as the system user
  src/app/obj/system.py
Owners: @zaanposni

minor changes
  src/app/obj/__init__.py
Owners: @zaanposni

using oop in /list now
  src/app/commands/list.py
Owners: @zaanposni

minor changes
  src/app/obj/message.py
  src/app/obj/user_manager.py
Owners: @zaanposni

added todo
  src/app/__init__.py
Owners: @zaanposni

oop on socket events
  src/app/sockets.py
Owners: @zaanposni

implemented oop for commands
  src/app/commands/__init__.py
  src/app/commands/list.py
  src/app/commands/ping.py
Owners: @zaanposni

using User object in usermanager now
  src/app/obj/user_manager.py
Owners: @zaanposni

deleted old usermanager
  src/app/global_values.py
Owners: @zaanposni

minor changes
  src/app/obj/user.py
  src/app/user_limiter.py
Owners: @zaanposni

handling connect and disconnect with oop
  src/app/sockets.py
Owners: @zaanposni

minor code opt
  src/app/emote_handling.py
Owners: @zaanposni

updated dummyuser
  src/app/__init__.py
Owners: @zaanposni

updates /api/user for oop
  src/app/routes.py
Owners: @zaanposni

renamed logindisabled to login_disabled
  src/app/__init__.py
  src/app/commands/list.py
  src/app/routes.py
  src/app/sockets.py
Owners: @zaanposni

refactored imports
  src/app/routes.py
  tests/test_sockets.py
Owners: @zaanposni

correct import and minor bugfixes
  src/app/obj/command.py
  src/app/obj/message.py
  src/app/obj/system.py
  src/app/obj/system_message.py
  src/app/obj/user_manager.py
  src/app/routes.py
  src/app/sockets.py
Owners: @zaanposni

applied new object format to js
  src/app/public/js/script.js
Owners: @monkmitrad, @SFFan123

fixing issue with pointer to defaultuser
  src/app/__init__.py
  src/app/obj/__init__.py
  src/app/obj/user.py
  src/app/routes.py
  src/app/sockets.py
Owners: @zaanposni

applied new format to unittest
  tests/test_sockets.py
Owners: @zaanposni

set raw msg limit to 2k
  src/app/sockets.py
Owners: @zaanposni

removed todos
  src/app/__init__.py
  src/app/obj/user_manager.py
Owners: @zaanposni

added bigF, grossesX and ganzgrossesX, also added :success
  src/app/emotes.json
Owners: @zaanposni, @monkmitrad, @SFFan123

minor changes
  src/app/__init__.py
Owners: @zaanposni

added output to flask app
  src/app/routes.py
Owners: @zaanposni

moved shell to local utils module
  src/app/__init__.py
  src/app/commands/__init__.py
  src/app/commands/list.py
  src/app/commands/ping.py
  src/app/emote_handling.py
  src/app/routes.py
  src/app/sockets.py
  src/server.py
  src/utils/__init__.py
  src/utils/shell.py
Owners: @zaanposni
