Repository FI18-Trainees/FISocketChat, changes with the owners that CODEOWNERS names for each.
All owners: @zaanposni, @monkmitrad, @SFFan123, @ArPiiX

Update readme.md
  readme.md
Owners: @zaanposni, @monkmitrad, @SFFan123, @ArPiiX

minor changes
  src/app/sockets.py
Owners: @zaanposni

minor changes
  readme.md
Owners: @zaanposni, @monkmitrad, @SFFan123, @ArPiiX

minor changes
  .github/workflows/basic_check_master.yml
Owners: @zaanposni, @monkmitrad, @SFFan123, @ArPiiX

pep8 imports I guess
  src/app/commands/__init__.py
  src/app/commands/list.py
  src/app/commands/ping.py
Owners: @zaanposni

added command /hangman making the old branch "/command/game" obsolete as the oop refactoring changed the structure
  src/app/commands/hangman.py
  src/app/obj/games/hangmangame.py
Owners: @zaanposni

removed the spellcheck feature from the message box to get rid of the red underlines while typing a message and fixing #185
  src/app/templates/index.html
Owners: @monkmitrad

changed message output to respect oop :)
  src/app/commands/hangman.py
Owners: @zaanposni

Merge branch 'master' of Y:\PyCharm\FISocketChat with conflicts.
  src/app/__init__.py
Owners: @zaanposni

CODEOWNERS:

* @zaanposni @monkmitrad @SFFan123 @ArPiiX
*.py @zaanposni

*.css @monkmitrad
*.html @monkmitrad
*.js @monkmitrad @SFFan123
